#mountyhall-view-wrapper {
  height: calc( 100vh - 250px);
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position: relative;
  overflow: hidden; 
}

#mountyhall-view-wrapper::after {
  content: '';
  display: block;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#mountyhall-view {
  flex: 1 1 100%;
  background: #eee;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mh-cell {
  overflow: hidden;
  background: #fafafa;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

.mh-cell .position {
  background: #444;
  font-size: 11px;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center;
  pointer-events: none;
}

.mh-cell .nb-lieux {
  background: #444;
  color: white;
  text-align: center;
}

.mh-cell .lieu {
  display: block;
  background: #444;
  color: #eee;
  white-space: nowrap;
}

.mh-cell .lieu.trou {
  text-align: center;
}

.mh-cell .lieu:hover {
  background: #444;
  color: white;
}

.mh-cell .nb-mobs {
  background: brown;
  color: white;
  text-align: center;
}

.mh-cell .mob {
  display: block;
  color: brown;
  text-decoration: none;
  white-space: nowrap;
}

.mh-cell .mob.gowap {
  color: #c99b1f;
}

.mh-cell .mob:hover {
  background: brown;
  color: white;
}

.mh-cell .nb-trolls {
  background: blue;
  color: white;
  text-align: center;
}

.mh-cell .troll {
  display: block;
  color: blue;
  text-decoration: none;
  white-space: nowrap;
}

.mh-cell .troll:hover {
  background: blue;
  color: white;
}

#mountyhall-view-grid {
  font-size: 11px;
  display: table;
  border-collapse: collapse;
  cursor: crosshair;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  table-layout: fixed;
  margin: 10px;
}

#mountyhall-view-grid .filtered {
  display: none;
}

#mountyhall-view-grid .line {
  display: table-row;
}

#mountyhall-view-grid .line:nth-child(odd) .mh-cell:nth-child(odd),
#mountyhall-view-grid .line:nth-child(even) .mh-cell:nth-child(even) {
  background: #e5e5cb;
}

#mountyhall-view-grid .line:nth-child(odd) .mh-cell:nth-child(odd).has-spot,
#mountyhall-view-grid .line:nth-child(even) .mh-cell:nth-child(even).has-spot {
  background: rgba(253, 199, 30, 0.65);
}

#mountyhall-view-grid .mh-cell {
  display: table-cell;
  border: 1px solid #ccc;
}

#mountyhall-view-grid .mh-cell.origine {
  box-shadow: inset 0 0 25px rgba(255, 209, 0, 0.9);
  border: thick solid gold;
}

#mountyhall-view-grid .mh-cell .position {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  opacity: .8;
}

#mountyhall-view-grid .mh-cell:hover .position {
  display: block;
}

#mountyhall-view-grid .mh-cell.has-spot {
  background: rgba(253, 199, 30, 0.65);
}

#mountyhall-view-grid.zoom0 .line {
  height: 12px;
}

#mountyhall-view-grid.zoom0 .mh-cell {
  border: none;
  font-size: 6px;
  line-height: 6px;
}

#mountyhall-view-grid.zoom0 .mh-cell.origine {
  border-right: thick solid gold;
  border-left: thick solid gold;
}

#mountyhall-view-grid.zoom0 .mh-cell .position {
  display: none;
}

#mountyhall-view-grid.zoom0 .age {
  display: none;
}

#mountyhall-view-grid.zoom0 .mob, #mountyhall-view-grid.zoom0 .troll, #mountyhall-view-grid.zoom0 .lieu {
  display: none;
}

#mountyhall-view-grid.zoom0 .nb-lieux, #mountyhall-view-grid.zoom0 .nb-trolls {
  display: inline-block;
  width: 50%;
}

#mountyhall-view-grid.zoom1 .line {
  height: 19px;
}

#mountyhall-view-grid.zoom1 .mh-cell {
  font-size: 9px;
  line-height: 9px;
}

#mountyhall-view-grid.zoom1 .mh-cell .position {
  display: none;
}

#mountyhall-view-grid.zoom1 .age {
  display: none;
}

#mountyhall-view-grid.zoom1 .mob, #mountyhall-view-grid.zoom1 .troll, #mountyhall-view-grid.zoom1 .lieu {
  display: none;
}

#mountyhall-view-grid.zoom1 .nb-lieux, #mountyhall-view-grid.zoom1 .nb-trolls {
  display: inline-block;
  width: 50%;
}

#mountyhall-view-grid.zoom2 .line {
  height: 31px;
}

#mountyhall-view-grid.zoom2 .mh-cell {
  font-size: 10px;
}

#mountyhall-view-grid.zoom2 .mh-cell .position {
  display: none;
}

#mountyhall-view-grid.zoom2 .age {
  display: none;
}

#mountyhall-view-grid.zoom2 .mob, #mountyhall-view-grid.zoom2 .troll, #mountyhall-view-grid.zoom2 .lieu {
  display: none;
}

#mountyhall-view-grid.zoom2 .nb-mobs, #mountyhall-view-grid.zoom2 .nb-trolls, #mountyhall-view-grid.zoom2 .nb-lieux {
  padding: 2px 0;
}

#mountyhall-view-grid.zoom2 .nb-lieux, #mountyhall-view-grid.zoom2 .nb-trolls {
  display: inline-block;
  width: 50%;
}

#mountyhall-view-grid.zoom3 .line {
  height: 49px;
}

#mountyhall-view-grid.zoom3 .mh-cell {
  font-size: 11px;
}

#mountyhall-view-grid.zoom3 .mh-cell .position {
  display: none;
}

#mountyhall-view-grid.zoom3 .age {
  display: none;
}

#mountyhall-view-grid.zoom3 .mob, #mountyhall-view-grid.zoom3 .troll, #mountyhall-view-grid.zoom3 .lieu {
  display: none;
}

#mountyhall-view-grid.zoom3 .nb-mobs, #mountyhall-view-grid.zoom3 .nb-trolls, #mountyhall-view-grid.zoom3 .nb-lieux {
  padding: 3px 0;
}

#mountyhall-view-grid.zoom3 .nb-lieux, #mountyhall-view-grid.zoom3 .nb-trolls {
  display: inline-block;
  width: 50%;
}

#mountyhall-view-grid.zoom4 .line {
  height: 78px;
}

#mountyhall-view-grid.zoom4 .mh-cell {
  font-size: 8px;
}

#mountyhall-view-grid.zoom4 .mh-cell .position {
  display: none;
}

#mountyhall-view-grid.zoom4 .age {
  display: none;
}

#mountyhall-view-grid.zoom4 .nb-mobs, #mountyhall-view-grid.zoom4 .nb-trolls, #mountyhall-view-grid.zoom4 .nb-lieux {
  display: none;
}

#mountyhall-view-grid.zoom5 .line {
  height: 126px;
}

#mountyhall-view-grid.zoom5 .mh-cell {
  font-size: 10px; 
}

#mountyhall-view-grid.zoom5 .nb-mobs, #mountyhall-view-grid.zoom5 .nb-trolls, #mountyhall-view-grid.zoom5 .nb-lieux {
  display: none;
}

#mountyhall-view-grid.zoom6 .line {
  height: 201px;
}

#mountyhall-view-grid.zoom6 .nb-mobs, #mountyhall-view-grid.zoom6 .nb-trolls, #mountyhall-view-grid.zoom6 .nb-lieux {
  display: none;
}

.mountyhall-bubble .bubble-content {
  max-height: 65vh;
  max-width: 700px;
  overflow-y: auto;
}

.bubble.tag-bubble .bubble-content, .bubble.tag-bubble .bubble-content a {
  background-color: #000;
  color: #222;
}

.bubble.tag-bubble .bubble-arrow {
  color: #000;
}

.bubble {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 115;
}

.bubble .bubble-content {
  background: #000;
  color: #fff;
  flex: 1 1 auto;
  padding: 8px;
  border-radius: 4px;
  min-width: 22px;
  min-height: 22px;
}

.bubble .bubble-content .bubble-title {
  font-weight: bold;
}

.bubble .bubble-content code {
  color: #222;
}

.bubble .bubble-content.text {
  max-width: 400px;
}

.bubble .bubble-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  color: #000;
}

.bubble ul {
  margin-before: 5px;
  margin-after: 5px;
  padding-start: 20px;
  -webkit-margin-before: 5px;
  -webkit-margin-after: 5px;
  -webkit-padding-start: 20px;
}

.bubble td:first-child {
  text-align: right;
  vertical-align: top;
  opacity: .85;
}

.left-bottom-bubble {
  flex-direction: row;
}

.left-bottom-bubble .bubble-arrow {
  border-width: 10px 0 10px 17px;
  border-color: transparent transparent transparent currentColor;
  margin-top: 6px;
}

.left-top-bubble {
  flex-direction: row;
  align-items: flex-end;
}

.left-top-bubble .bubble-arrow {
  border-width: 10px 0 10px 17px;
  border-color: transparent transparent transparent currentColor;
  margin-bottom: 10px;
}

.right-bottom-bubble {
  flex-direction: row-reverse;
}

.right-bottom-bubble .bubble-arrow {
  border-width: 10px 17px 10px 0;
  border-color: transparent currentColor transparent transparent;
  margin-top: 7px;
}

.right-top-bubble {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.right-top-bubble .bubble-arrow {
  border-width: 10px 17px 10px 0;
  border-color: transparent currentColor transparent transparent;
  margin-bottom: 10px;
}

.bottom-bubble {
  flex-direction: column-reverse;
  align-items: center;
}

.bottom-bubble .bubble-arrow {
  border-width: 0 10px 17px 10px;
  border-color: transparent transparent currentColor transparent;
}

.bottom-left-bubble {
  flex-direction: column-reverse;
  align-items: flex-end;
}

.bottom-left-bubble .bubble-arrow {
  border-width: 0 10px 17px 10px;
  border-color: transparent transparent currentColor transparent;
  margin-right: 10px;
}

.bottom-right-bubble {
  flex-direction: column-reverse;
  align-items: flex-start;
}

.bottom-right-bubble .bubble-arrow {
  border-width: 0 10px 17px 10px;
  border-color: transparent transparent currentColor transparent;
  margin-left: 8px;
}

.top-bubble {
  flex-direction: column;
}

.top-bubble .bubble-arrow {
  margin-left: 60px;
  border-width: 17px 10px 0 10px;
  border-color: currentColor transparent transparent transparent;
}

.top-left-bubble {
  flex-direction: column;
  align-items: flex-end;
}

.top-left-bubble .bubble-arrow {
  margin-right: 10px;
  border-width: 17px 10px 0 10px;
  border-color: currentColor transparent transparent transparent;
}

.top-right-bubble {
  flex-direction: column;
  align-items: flex-start;
}

.top-right-bubble .bubble-arrow {
  margin-left: 8px;
  border-width: 17px 10px 0 10px;
  border-color: currentColor transparent transparent transparent;
}

.bubble.mob {
  font-size: 11px;
}

.bubble.mob tr:first-child th {
  text-align: center;
}

.bubble.mob th {
  text-align: right;
}

.bubble.mob .bubble-content {
  min-height: 40px;
}

.bubble.mob .bubble-content, .bubble.mob .bubble-content a {
  background-color: brown;
  color: #ddd;
}

.bubble.mob .bubble-arrow {
  color: brown;
}

.bubble.troll {
  font-size: 11px;
}

.bubble.troll tr:first-child th {
  text-align: center;
}

.bubble.troll th {
  text-align: right;
}

.bubble.troll .bubble-content {
  min-height: 40px;
}

.bubble.troll .bubble-content, .bubble.troll .bubble-content a {
  background-color: blue;
  color: #ddd;
}

.bubble.troll .bubble-arrow {
  color: blue;
}

.bubble .mh-cell .position {
  background: #000;
}

.bubble .nb-trolls::after {
  content: ' trolls';
}

.bubble .nb-mobs::after {
  content: ' mobs';
}

.bubble .nb-lieux {
  display: none;
}

.bubble .nb-trolls, .bubble .troll, .bubble .nb-mobs, .bubble .mob, .bubble .lieu {
  font-size: 10px;
}
