<!-- Settings display -->
<div class="col-sm-9 col-md-9">
  
  <!-- Page header -->
  <div class="row">
    <div class="page-header text-left">
      <div class="row">
        <h2 class="col-sm-8 col-md-8">Gestion du groupe</h2>
        <button style="margin-top: 20px;" type="submit" class="col-sm-offset-2 col-md-offset-2 btn btn-primary" ng-click="ac.updateGroup()" ng-disabled="!ac.user.currentAssoc.group.name">Sauvegarder</button>
      </div>
      </br>
      <div ng-if="ac.updateError">
        </br>
        <div class="alert" ng-class="{'alert-danger':ac.updateError}">
          {{ac.updateErrorMessage}}
        </div>
      </div>
      <div ng-if="pc.updateStatus">
        </br>
        <div class="alert" ng-class="{'alert-success':ac.updateStatus}">
          {{ac.updateStatusMessage}}
        </div>
      </div>
    </div>
  </div>
  <br/>

  <!-- Page content -->
  <div class="row">
    <div class="col-md-2">
      <img ng-src="{{ac.user.currentAssoc.group.blason_url}}" class="img-responsive" alt="" onError="this.src='http://blason.mountyhall.com/Blason_PJ/MyNameIsNobody.gif';">
    </div>
    <div class="col-md-10">
      <blockquote>
        <p>{{authService.dataWrap.user.currentAssoc.group.name}}</p>
          <cite><small>Mail : {{authService.dataWrap.user.currentAssoc.group.mail}}</small></cite>
          <span ng-if="ac.user.currentAssoc.group.desc"><cite><small>Description : {{ac.user.currentAssoc.group.desc}}</small></cite></span>
      </blockquote>
    </div>
  </div>
  <br/>
  <br/>

  <div class="row">
    <div class="col-sm-8">
      <div class="input-group" ng-class="{'has-error':!ac.user.currentAssoc.group.name}">
        <span class="input-group-addon">
          Nom du groupe
        </span>
        <input type="text" class="form-control" placeholder="Nom du groupe" ng-model="ac.user.currentAssoc.group.name" required>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-sm-8">
      <div class="input-group">
        <span class="input-group-addon">
          URL du blason
        </span>
        <input type="text" class="form-control" placeholder="URL du blason de groupe" ng-model="ac.user.currentAssoc.group.blason_url" required>
      </div>
    </div>
  </div>
  <br/>
  
  <div class="row">
    <div class="col-sm-8">
      <div class="input-group">
        <span class="input-group-addon">
          Description
        </span>
        <input type="text" class="form-control" placeholder="Courte description de votre groupe" ng-model="ac.user.currentAssoc.group.desc" required>
      </div>
    </div>
  </div>
  <br/>

</div>
