<!-- Settings display -->
<div class="col-sm-9 col-md-9">
  
  <!-- Page header -->
  <div class="row">
    <div class="page-header text-left">
      <div class="row">
        <h2 class="col-sm-8 col-md-8">Gestion des utilisateurs du groupe</h2>
      </div>
      </br>
      <div ng-if="ac.assocsError">
        </br>
        <div uib-alert class="alert" ng-class="{'alert-danger':ac.assocsError}" dismiss-on-timeout="2000" close="ac.resetAlerts()">
          {{ac.assocsErrorMessage}}
        </div>
      </div>
      <div ng-if="ac.assocsStatus">
        </br>
        <div uib-alert class="alert" ng-class="{'alert-success':ac.assocsStatus}" dismiss-on-timeout="2000" close="ac.resetAlerts()">
          {{ac.assocsStatusMessage}}
        </div>
      </div>
    </div>
  </div>
  <br/>

  <!-- Page content -->
  <label>Administreur(s)</label>
  <br/>
  <br/>
  <div class="row" ng-repeat="assoc in ac.assocs">
    <div ng-if="assoc.role === 4 && assoc.pending === false">
      <div class="btn-group col-sm-offset-1 col-md-offset-1" uib-dropdown dropdown-append-to-body> 
        <button id="btn-append-to-body" type="button" class="btn btn-danger" uib-dropdown-toggle ng-disabled="assoc.user.id === ac.user.id">
          {{assoc.user.pseudo}} - {{assoc.user.id}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
          <li role="menuitem"><a href="#" ng-click="ac.roleUpdate(assoc.user.id, 2)">Rétrograder simple utilisateur</a></li>
          <li role="menuitem"><a href="#" ng-click="ac.exclude(assoc.user.id)">Exclure du groupe</a></li>
        </ul>
      </div>
      <br/>
      <br/>
    </div>
  </div>

  <label>Utilisateur(s)</label>
  <br/>
  <br/>
  <div class="row" ng-repeat="assoc in ac.assocs">
    <div ng-if="assoc.role === 2 && assoc.pending === false">
      <div class="btn-group col-sm-offset-1 col-md-offset-1" uib-dropdown dropdown-append-to-body> 
        <button id="btn-append-to-body" type="button" class="btn btn-info" uib-dropdown-toggle>
          {{assoc.user.pseudo}} - {{assoc.user.id}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
          <li role="menuitem"><a href="#" ng-click="ac.roleUpdate(assoc.user.id, 4)">Promouvoir administrateur</a></li>
          <li role="menuitem"><a href="#" ng-click="ac.exclude(assoc.user.id)">Exclure du groupe</a></li>
        </ul>
      </div>
      <br/>
      <br/>
    </div>
  </div> 

  <label>Invitation(s) en attente</label>
  <br/>
  <br/>
  <div class="row" ng-repeat="assoc in ac.assocs">
    <div ng-if="assoc.pending === true">
      <div class="btn-group col-sm-offset-1 col-md-offset-1" uib-dropdown dropdown-append-to-body> 
        <button id="btn-append-to-body" type="button" class="btn btn-secondary" uib-dropdown-toggle>
          {{assoc.user.pseudo}} - {{assoc.user.id}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
          <li role="menuitem"><a href="#" ng-click="ac.exclude(assoc.user.id)">Annuler l'invitation</a></li>
        </ul>
      </div>
      <br/>
      <br/>
    </div>
  </div> 

</div>
