<div class="container-fluid" style="margin: 30px;">
  <div class="row">
    
    <!-- Sidebar display -->
    <div ng-include="'app/includes/sidebar_admin.html'"></div>

    <!-- Settings display -->
    <div ng-if="ac.view === 'group'" ng-include="'app/views/admin_group.html'"></div>
    <div ng-if="ac.view === 'assocs'" ng-include="'app/views/admin_assocs.html'"></div>
    <div ng-if="ac.view === 'confs'" ng-include="'app/views/admin_confs.html'"></div>
    <div ng-if="ac.view === 'hooks'" ng-include="'app/views/admin_hooks.html'"></div>
  </div>
</div>

