<!-- Settings display -->
<div class="col-sm-9 col-md-9">
  
  <!-- Page header -->
  <div class="row">
    <div class="page-header text-left">
      <h2>Gestion des hooks</h2>
    </div>
  </div>

  <!-- Page content -->
  <div class="bs-callout bs-callout-info">
    <h4>Hook</h4>
    Un hook permet d'autoriser à un tiers, généralement un bot ou un plugin, de récupérer les notifications de votre groupe et d'effectuer des requêtes en lecture seule sur les informations de celui-ci.
    <br/>
    Un hook peut être passif : le tiers accès aux données via {{ac.hostname}}) ; ou bien actif  : le hook envoi de lui même les notifications à l'URL enregistrée
  </div>
  <br/>

  <form class="form-horizontal">
    <div class="col-sm-5 input-group input-group-lg">
      <input type="text" class="form-control" ng-model="ac.newHook" placeholder="Nom hook">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" ng-model="ac.newHookURL" placeholder="URL (optionnel)">
      <span class="input-group-btn"> 
        <button class="btn btn-primary btl-lg" type="button" ng-disabled="!ac.newHook" ng-click="ac.addHook()">
          <span class="glyphicon glyphicon-send"></span>
        </button>
      </span> 
    </div>
  </form>
  <br/>

  <div ng-if="ac.updateErrorHook">
    <div class="alert alert-danger">
      {{ac.updateErrorHookMessage}}
    </div>
    <br/>
  </div>
  <div ng-if="ac.updateStatusHook"> 
    <div class="alert alert-success">
      {{ac.updateStatusHookMessage}}
    </div>
    <br/>
  </div>
  
  <br/>
  <div ng-if="ac.hooks.length" class="row">
    <ol class="breadcrumb">
      <li class="active"><h4><strong>Liste des hooks<strong></h4></li>
    </ol>
    
    <div class="alert alert-danger" role="alert">
      <strong>Attention !</strong> Ne diffusez jamais le JWT associé à un hook, celui-ci permettrait à n'importe qui d'accéder à vos données. Vous pouvez créer ou révoquer un hook à tout instant. 
    </div>
    <br/>

    <div class="form-group" ng-repeat="hook in ac.hooks | filter: {revoked: false}">
      <div class="col-lg-8">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" ngclipboard data-clipboard-text="{{hook.jwt}}" type="button">
              <span class="glyphicon glyphicon-copy"></span>
            </button>
          </span>
          <input type="text" class="form-control" readonly=readonly ng-model="hook.name">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" readonly=readonly ng-model="hook.url">
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button" ng-click="ac.revokeHook(hook)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </span>
        </div>
      </div>
      <br/>
    </div>

  </div>
</div>
