<div class="col-sm-5 col-md-5">

  <!-- Page Header -->
  <div class="row">
    <div class="page-header text-center">
        <h1>Analyse Anatomique</h1>
    </div>
  </div>
  <br/>

  <!-- Header (Full name, class, level and special abilities) -->
  <div class="row">
    <div class="col-md-3">
      <img ng-src="{{ec.cur.sub.troll_cible.blason_url}}" class="img-responsive img-rounded" alt="" onError="this.src='images/MyNameIsNobody.gif';">
    </div>
    <div class="col-md-9">
      <blockquote>
        <p>{{ec.cur.sub.troll_cible.nom}} (<a href="http://games.mountyhall.com/mountyhall/View/PJView.php?ai_IDPJ={{ec.cur.sub.troll_cible_id}}">{{ec.cur.sub.troll_cible_id}}</a>)</p>
      </blockquote>
    </div>
  </div>
  <br/>

  <!-- Life bar -->
  <div class="text-center"><span><i>{{ec.cur.sub.blessure}}% de blessure</i></span></div>
  <div class="progress">
    <div class="progress-bar" ng-class="{'progress-bar-warning': ec.cur.sub.lifePercent < 66 && ec.cur.sub.lifePercent > 33, 'progress-bar-success': ec.cur.sub.lifePercent >= 66, 'progress-bar-danger': ec.cur.sub.lifePercent <= 33}" role="progressbar" style="width: {{(ec.cur.sub.pvMinBlessure * 100 / ec.cur.sub.pvMaxBlessure) - ec.cur.sub.blessure}}%">
      <span class="pull-left" style="margin-left: 2px">0</span>
      <span class="pull-right" style="margin-right: 2px">{{ec.cur.sub.pvMinBlessure}}</span>
    </div>
    <div class="progress-bar progress-bar-custom" ng-class="{'progress-bar-warning': ec.cur.sub.lifePercent < 66 && ec.cur.sub.lifePercent > 33, 'progress-bar-success': ec.cur.sub.lifePercent >= 66, 'progress-bar-danger': ec.cur.sub.lifePercent <= 33}" role="progressbar" style="width: {{100 - (ec.cur.sub.pvMinBlessure * 100 / ec.cur.sub.pvMaxBlessure)}}%">
      <span class="pull-right" style="margin-right: 2px">{{ec.cur.sub.pvMaxBlessure}}</span>
    </div>
  </div>
    
  <br/>

  <!-- Caracs -->
  <table class="table table-condensed text-center">
    <thead class="thead-inverse text-center">
      <tr>
        <th class="text-center">Caractéristique</th>
        <th class="text-center">Min - Max</th>
        <th class="text-center">Moyenne</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Niveau</b></td>
        <td>{{ec.cur.sub.niv}}</td>
        <td>{{ec.cur.sub.niv}}</td>
      </tr>
      <tr>
        <td><b>Points de vie</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.pv_min, ec.cur.sub.pv_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.pv_min, ec.cur.sub.pv_max, 1)}}</td>
      </tr>
      <tr>
        <td><b>Dés d'attaque (D6)</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.att_min, ec.cur.sub.att_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.att_min, ec.cur.sub.att_max, 3)}}</td>
      </tr>
      <tr>
        <td><b>Dés d'esquive (D6)</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.esq_min, ec.cur.sub.esq_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.esq_min, ec.cur.sub.esq_max, 3)}}</td>
      </tr>
      <tr>
        <td><b>Dés de dégât (D3)</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.deg_min, ec.cur.sub.deg_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.deg_min, ec.cur.sub.deg_max, 2)}}</td>
      </tr>
      <tr>
        <td><b>Dés de régénération (D3)</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.reg_min, ec.cur.sub.reg_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.reg_min, ec.cur.sub.reg_max, 2)}}</td>
      </tr>
      <tr>
        <td><b>Armure physique</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.arm_phy_min, ec.cur.sub.arm_phy_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.arm_phy_min, ec.cur.sub.arm_phy_max, 1)}}</td>
      </tr>
      <tr>
        <td><b>Vue</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.vue_min, ec.cur.sub.vue_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.vue_min, ec.cur.sub.vue_max, 1)}}</td>
      </tr>
    </tbody>
  </table>

</div>
