<div class="col-sm-5 col-md-5">

  <!-- Page Header -->
  <div class="row">
    <div class="page-header text-center">
        <h1>Connaissance des Monstres</h1>
        <p>(Niveau {{ec.cur.sub.comp_niv}})</p>
    </div>
  </div>
  <br/>

  <!-- Header (Full name, class, level and special abilities) -->
  <div class="row">
    <div class="col-md-3">
      <img ng-src="{{ec.cur.sub.mob.metamob.blason_url}}" class="img-responsive img-rounded" alt="" onError="this.src='images/MyNameIsNobody.gif';">
    </div>
    <div class="col-md-9">
      <blockquote>
        <p>{{ec.cur.sub.mob.nom}} [{{ec.cur.sub.mob.age}}] (<a href="http://games.mountyhall.com/mountyhall/View/MonsterView.php?ai_IDPJ={{ec.cur.sub.mob_id}}">{{ec.cur.sub.mob_id}}</a>)</p>
          <span ng-hide="ec.cur.sub.mob.type === null"><cite><small>Classe : {{ec.cur.sub.mob.type}}</small></cite></span>
          <span ng-hide="ec.cur.sub.nb_att_tour === null"><cite><small>Nombre d'attaque par tour : {{ec.cur.sub.nb_att_tour}}</small></cite></span>
          <span ng-hide="ec.cur.sub.vit_dep === null"><cite><small>Vitesse de déplacement : {{ec.cur.sub.vit_dep}}</small></cite></span>
          <span ng-hide="ec.cur.sub.vlc === null"><cite><small>Voir le caché : {{ec.cur.sub.vlc}}</small></cite></span>
          <span ng-hide="ec.cur.sub.dla === null"><cite><small>DLA : {{ec.cur.sub.dla}}</small></cite></span>
          <span ng-hide="ec.cur.sub.voleur === null"><cite><small>Voleur : {{ec.cur.sub.voleur}}</small></cite></span>
          <span ng-hide="ec.cur.sub.sang_froid === null"><cite><small>Sang Froid : {{ec.cur.sub.sang_froid}}</small></cite></span>
          <span ng-hide="ec.cur.sub.att_dist === null"><cite><small>Attaque à distance : {{ec.cur.sub.att_dist}}</small></cite></span>
          <span ng-hide="ec.cur.sub.att_mag === null"><cite><small>Attaque magique : {{ec.cur.sub.att_mag}}</small></cite></span>
          <span ng-hide="ec.cur.sub.chargement === null"><cite><small>Chargement : {{ec.cur.sub.chargement}}</small></cite></span>
          <span ng-hide="ec.cur.sub.capa == ''"><cite><small>Capacité spéciale : {{ec.cur.sub.capa}}</small></cite></span>
      </blockquote>
    </div>
  </div>
  <br/>

  <!-- Life bar -->
  <div class="text-center"><span><i>{{ec.cur.sub.blessure}}% de blessure</i></span><span ng-hide="ec.cur.sub.bonus_malus === null"><i> (Bonus/Malus : {{ec.cur.sub.bonus_malus}})</i></span></div>
  <div class="progress">
    <div class="progress-bar" ng-class="{'progress-bar-warning': ec.cur.sub.lifePercent < 66 && ec.cur.sub.lifePercent > 33, 'progress-bar-success': ec.cur.sub.lifePercent >= 66, 'progress-bar-danger': ec.cur.sub.lifePercent <= 33}" role="progressbar" style="width: {{(ec.cur.sub.pvMinBlessure * 100 / ec.cur.sub.pvMaxBlessure) - ec.cur.sub.blessure}}%">
      <span class="pull-left" style="margin-left: 2px">0</span>
      <span class="pull-right" style="margin-right: 2px">{{ec.cur.sub.pvMinBlessure}}</span>
    </div>
    <div class="progress-bar progress-bar-custom" ng-class="{'progress-bar-warning': ec.cur.sub.lifePercent < 66 && ec.cur.sub.lifePercent > 33, 'progress-bar-success': ec.cur.sub.lifePercent >= 66, 'progress-bar-danger': ec.cur.sub.lifePercent <= 33}" role="progressbar" style="width: {{100 - (ec.cur.sub.pvMinBlessure * 100 / ec.cur.sub.pvMaxBlessure)}}%">
      <span class="pull-right" style="margin-right: 2px">{{ec.cur.sub.pvMaxBlessure}}</span>
    </div>
  </div>
    
  <br/>

  <!-- Caracs -->
  <table class="table table-condensed text-center">
    <thead class="thead-inverse text-center">
      <tr>
        <th class="text-center">Caractéristique</th>
        <th class="text-center">Min - Max</th>
        <th class="text-center">Moyenne</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Niveau</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.niv_min, ec.cur.sub.niv_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.niv_min, ec.cur.sub.niv_max, 1)}}</td>
      </tr>
      <tr>
        <td><b>Points de vie</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.pv_min, ec.cur.sub.pv_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.pv_min, ec.cur.sub.pv_max, 1)}}</td>
      </tr>
      <tr>
        <td><b>Dés d'attaque (D6)</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.att_min, ec.cur.sub.att_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.att_min, ec.cur.sub.att_max, 3)}}</td>
      </tr>
      <tr>
        <td><b>Dés d'esquive (D6)</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.esq_min, ec.cur.sub.esq_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.esq_min, ec.cur.sub.esq_max, 3)}}</td>
      </tr>
      <tr>
        <td><b>Dés de dégât (D3)</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.deg_min, ec.cur.sub.deg_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.deg_min, ec.cur.sub.deg_max, 2)}}</td>
      </tr>
      <tr>
        <td><b>Dés de régénération (D3)</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.reg_min, ec.cur.sub.reg_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.reg_min, ec.cur.sub.reg_max, 2)}}</td>
      </tr>
      <tr>
        <td><b>Armure physique</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.arm_phy_min, ec.cur.sub.arm_phy_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.arm_phy_min, ec.cur.sub.arm_phy_max, 1)}}</td>
      </tr>
      <tr ng-hide="ec.cur.sub.arm_mag_min === null && ec.cur.sub.arm_mag_max === null">
        <td><b>Armure magique</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.arm_mag_min, ec.cur.sub.arm_mag_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.arm_mag_min, ec.cur.sub.arm_mag_max, 1)}}</td>
      </tr>
      <tr>
        <td><b>Vue</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.vue_min, ec.cur.sub.vue_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.vue_min, ec.cur.sub.vue_max, 1)}}</td>
      </tr>
      <tr ng-hide="ec.cur.sub.mm_min === null && ec.cur.sub.mm_max === null">
        <td><b>Maitrise magique</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.mm_min, ec.cur.sub.mm_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.mm_min, ec.cur.sub.mm_max, 1)}}</td>
      </tr>
      <tr ng-hide="ec.cur.sub.rm_min === null && ec.cur.sub.rm_max === null">
        <td><b>Résistance magique</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.rm_min, ec.cur.sub.rm_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.rm_min, ec.cur.sub.rm_max, 1)}}</td>
      </tr>
      <tr ng-hide="ec.cur.sub.tour_min === null && ec.cur.sub.tour_max === null">
        <td><b>Durée de tour (Heure)</b></td>
        <td>{{ec.displayMinMax(ec.cur.sub.tour_min, ec.cur.sub.tour_max, true)}}</td>
        <td>{{ec.displayAverage(ec.cur.sub.tour_min, ec.cur.sub.tour_max, 1)}}</td>
      </tr>
    </tbody>
  </table>

</div>
