<div class="col-sm-5 col-md-5">

  <!-- Page Header -->
  <div class="row">
    <div class="page-header text-center">
      <h1>Portail de Téléportation</h1>
    </div>
  </div>
  <br/>

  <!-- Header -->
  <div class="row">
    <div class="col-md-4">
      <img ng-src="{{ec.cur.sub.troll_id && ec.cur.sub.troll.blason_url}}" class="img-responsive img-rounded center-block" style="max-height: 125px;" alt="" onError="this.src='http://blason.mountyhall.com/Blason_PJ/MyNameIsNobody.gif';">
    </div>
    <div class="col-md-4 text-center">
      <h3>a créé un</h3>
    </div>
    <div class="col-md-4">
      <img src="images/portal.png" class="img-responsive img-rounded center-block" style="max-height: 125px;" alt="" onError="this.src='http://blason.mountyhall.com/Blason_PJ/MyNameIsNobody.gif';">
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-6">
      <blockquote>
        <p>{{ec.cur.sub.troll.nom}} (<a ng-href="http://games.mountyhall.com/mountyhall/View/PJView.php?ai_IDPJ={{ec.cur.sub.troll.id}}">{{ec.cur.sub.troll.id}}</a>)</p>
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote class="blockquote-reverse" ng-if="!ec.cur.sub.def_troll_id">
        <p>Portail de Téléportation</p>
      </blockquote>
    </div>
  </div>

  <!-- Stats -->
  <div class="row">
    <table class="table table-condensed text-center" style="margin-top: 20px;">
      <tbody>
        <tr>
          <td class="inverse">Position</td>
          <td>X = {{ec.cur.sub.posx}} | Y = {{ec.cur.sub.posy}} | N = {{ec.cur.sub.posn}}</td>
        </tr>
        <tr>
          <td class="inverse">Destination</td>
          <td>X = {{ec.cur.sub.dst_posx}} | Y = {{ec.cur.sub.dst_posy}} | N = {{ec.cur.sub.dst_posn}}</td>
        </tr>
        <tr>
          <td class="inverse">Dispersion</td>
          <td>X = {{ec.cur.sub.disp_posx}} | Y = {{ec.cur.sub.disp_posy}} | N = {{ec.cur.sub.disp_posn}}</td>
        </tr>
      </tbody>
    </table>
</div>
