<div class="container-fluid" style="margin: 30px;">
  <div class="row" style="overflow: hidden;">

    <!-- Main event display -->
    <div ng-if="ec.cur.cdm_id" ng-include src="'app/views/event_cdm.html'"></div>
    <div ng-if="ec.cur.battle_id" ng-include src="'app/views/event_battle.html'"></div>
    <div ng-if="ec.cur.piege_id" ng-include src="'app/views/event_piege.html'"></div>
    <div ng-if="ec.cur.portal_id" ng-include src="'app/views/event_portal.html'"></div>
    <div ng-if="ec.cur.idc_id" ng-include src="'app/views/event_idc.html'"></div>
    <div ng-if="ec.cur.idt_id" ng-include src="'app/views/event_idt.html'"></div>
    <div ng-if="ec.cur.aa_id" ng-include src="'app/views/event_aa.html'"></div>
    <div ng-if="!ec.cur || !ec.user.currentAssoc" ng-include src="'app/views/event_unknown.html'"></div>

    <!-- Events list display -->
    <div ng-hide="!ec.cur || !ec.user.currentAssoc">
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
              <input type="text" class="form-control" placeholder="Numéro de monstre, trõll, etc." ng-model="ec.searchValue">
              <span class="input-group-addon">
                <div class="checkbox" style="margin: 0">
                  <label>
                    <input type="checkbox" ng-model="ec.displayHidden" value=""><span style="font-size: 95%">Afficher les notifications masquées ?</span>
                  </label>
                </div> 
              </span>
            </div>
          </div>
        </form>

      <div class="col-sm-7 col-md-7 table-responsive">
        <table class="table table-hover table-condensed" style="margin-bottom: 0px;">
          <thead class="thead-inverse">
            <tr>
              <th class="text-center">Évènement</th>
            </tr>
          </thead>
        </table>
        <div class="table-responsive pre-scrollable" style="max-height:60vh;">
          <table class="table table-hover table-condensed">
            <tbody infinite-scroll="ec.loadMoreEvents(true)" infinite-scroll-disabled="ec.busy" infinite-scroll-distance="1" infinite-scroll-container="'.pre-scrollable'">
              <tr ng-hide="event.hidden && !ec.displayHidden" ng-repeat="event in ec.events | filter: ec.search(event)" ng-click="ec.switchTrigger(event)" ng-class="{'info':ec.isRelatedToCurDef(event), 'warning':ec.isRelatedToCurAtt(event)}">
                <td class="text-left"><small ng-bind-html="ec.displayShortEvent(event, event==ec.cur)"></small></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
