<div class="col-sm-5 col-md-5">
	<!-- Page Header -->
	<div class="row">
	 	<div ng-if="ec.cur.sub.subtype" class="page-header text-center">
      <h1>{{ec.cur.sub.subtype}}</h1>
  		<p>({{ec.cur.sub.type}})</p>
	  </div>
	 	<div ng-if="!ec.cur.sub.subtype" class="page-header text-center">
      <h1>{{ec.cur.sub.type}}</h1>
	  </div>
	  <br/>
  </div>
  <br/>

	<!-- Attacker VS Defender-->
	<div class="row">
    <div class="col-md-4">
      <img ng-src="{{ec.cur.attBlason}}" class="img-responsive img-rounded center-block" style="max-height: 125px;" alt="" onError="this.src='images/MyNameIsNobody.gif';">
    </div>
    <div class="col-md-4 text-center">
      <div ng-if="ec.cur.sub.def_troll_id || ec.cur.sub.def_mob_id">
        <h1>VS<br/><small ng-if="ec.cur.sub.pv">-{{ec.cur.sub.pv}}</small></h1>
        <p ng-if="ec.cur.sub.vie">({{ec.cur.sub.vie}} PV)</p>
      </div>
    </div>
    <div class="col-md-4">
      <div ng-class="{'container-overlay':ec.cur.sub.dead}">
      <img ng-if="ec.cur.sub.def_troll_id || ec.cur.sub.def_mob_id" ng-src="{{ec.cur.defBlason}}" class="img-responsive img-rounded center-block" style="max-height: 125px;" alt="" onError="this.src='images/MyNameIsNobody.gif';">
        <div ng-if="ec.cur.sub.dead" class="overlay">
          <img src="images/dead_stamp.png" class="img-responsive img-rounded center-block" style="max-height: 125px;" alt="">
        </div>
      </div>
    </div>
  </div>
  <br/>
	<div class="row">
		<div class="col-md-6">
			<blockquote ng-if="ec.cur.sub.att_troll_id">
        <p>{{ec.cur.sub.att_troll.nom}} (<a ng-href="http://games.mountyhall.com/mountyhall/View/PJView.php?ai_IDPJ={{ec.cur.sub.att_troll.id}}">{{ec.cur.sub.att_troll.id}}</a>)</p>
        <cite ng-if="ec.cur.sub.px"><small>Point(s) d'expérience : +{{ec.cur.sub.px}}</small></cite>
        <cite ng-if="ec.cur.sub.mm"><small>Maîtrise Magique : +{{ec.cur.sub.mm}}</small></cite>
        <cite ng-if="ec.cur.sub.fatigue"><small>Fatigue : +{{ec.cur.sub.fatigue}}</small></cite>
			</blockquote>
			<blockquote ng-if="ec.cur.sub.att_mob_id">
        <p>{{ec.cur.sub.att_mob.nom}} [{{ec.cur.sub.att_mob.age}}] <span ng-if="ec.cur.sub.att_mob.tag">{{ec.cur.sub.att_mob.tag}} </span>(<a ng-href="http://games.mountyhall.com/mountyhall/View/MonsterView.php?ai_IDPJ={{ec.cur.sub.att_mob.id}}">{{ec.cur.sub.att_mob.id}}</a>)</p>
			</blockquote>
		</div>
		<div class="col-md-6">
			<blockquote class="blockquote-reverse" ng-if="ec.cur.sub.def_troll_id">
			  <p>{{ec.cur.sub.def_troll.nom}} (<a ng-href="http://games.mountyhall.com/mountyhall/View/PJView.php?ai_IDPJ={{ec.cur.sub.def_troll.id}}">{{ec.cur.sub.def_troll.id}}</a>)</p>
        <cite ng-if="ec.cur.sub.fatigue && !ec.cur.sub.att_troll_id"><small>Fatigue : +{{ec.cur.sub.fatigue}}</small></cite>
        <cite ng-if="ec.cur.sub.rm"><small>Résistance Magique : +{{ec.cur.sub.rm}}</small></cite>
        <cite ng-if="ec.cur.sub.direction && ec.cur.sub.type != 'Pistage'"><small>Retraite vers {{ec.cur.sub.direction}}</small></cite>
			</blockquote>
			<blockquote class="blockquote-reverse" ng-if="ec.cur.sub.def_mob_id">
        <p>{{ec.cur.sub.def_mob.nom}} [{{ec.cur.sub.def_mob.age}}] <span ng-if="ec.cur.sub.def_mob.tag">{{ec.cur.sub.def_mob.tag}} </span>(<a ng-href="http://games.mountyhall.com/mountyhall/View/MonsterView.php?ai_IDPJ={{ec.cur.sub.def_mob.id}}">{{ec.cur.sub.def_mob.id}}</a>)</p>
			</blockquote>
		</div>
	</div>
  <br/>

  <!-- Stats -->
  <div class="row">
    <table class="table table-condensed text-center" style="margin-top: 20px;">
      <tbody>
        <tr ng-if="(ec.cur.sub.type == 'Pistage')">
          <td class="inverse">Direction</td>
          <td>{{ec.cur.sub.direction}}</td>
        </tr>
        <tr ng-if="(ec.cur.sub.att !== null) && (ec.cur.sub.def !== null)">
          <td class="inverse">Jet d'attaque</td>
          <td>{{ec.cur.sub.att}}</td>
          <td ng-if="ec.cur.isTouched && ec.cur.sub.crit"><b>Critique</b></td>
          <td ng-if="ec.cur.isTouched && !ec.cur.sub.crit">Touché</td>
          <td ng-if="!ec.cur.isTouched && !ec.cur.sub.parade"><b>Esquive</b></td>
          <td ng-if="!ec.cur.isTouched && ec.cur.sub.parade"><b>Parade</b></td>
          <td>{{ec.cur.sub.esq}}<span ng-if="ec.cur.sub.parade"> + {{ec.cur.sub.par}}</span></td>
          <td class="inverse">Jet d'esquive<span ng-if="ec.cur.sub.parade"> + parade</span></td>
        </tr>
        <tr ng-if="(ec.cur.sub.destab !== null) && (ec.cur.sub.stab !== null)">
          <td class="inverse">Jet de déstablisation</td>
          <td>{{ec.cur.sub.destab}}</td>
          <td ng-if="ec.cur.isTouched && ec.cur.sub.crit"><b>Critique</b></td>
          <td ng-if="ec.cur.isTouched && !ec.cur.sub.crit">Mise à terre</td>
          <td ng-if="!ec.cur.isTouched"><b>Esquive</b></td>
          <td>{{ec.cur.sub.stab}}</td>
          <td class="inverse">Jet de stabilité</td>
        </tr>
        <tr ng-if="ec.cur.sub.capa_effet">
          <td class="inverse">Capacité</td>
          <td>{{ec.cur.sub.capa_desc}}</td>
          <td>{{ec.cur.sub.capa_effet}}</td>
          <td>{{ec.cur.sub.capa_tour ? ec.cur.sub.capa_tour : '0'}}</td>
          <td class="inverse">Tour(s)</td>
        </tr>
        <tr ng-if="(ec.cur.sub.resi !== null) && (ec.cur.sub.sr !== null)">
          <td class="inverse" >Jet de résistance</td>
          <td >{{ec.cur.sub.resi}}</td>
          <td ng-if="!ec.cur.sub.resist"><b>Full</b></td>
          <td ng-if="ec.cur.sub.resist"><b>Réduit</b></td>
          <td >{{ec.cur.sub.sr}}</td>
          <td class="inverse">Seuil de résistance</td>
        </tr>
        <tr ng-if="(ec.cur.sub.soin !== null)">
          <td class="inverse">Jet de blessure</td>
          <td>-{{ec.cur.sub.blessure ? ec.cur.sub.blessure : '?'}}</td>
          <td></td>
          <td>+{{ec.cur.sub.soin}}</td>
          <td class="inverse">Soin</td>
        </tr>
        <tr ng-if="(ec.cur.sub.deg !== null) || (ec.cur.sub.pv !== null)">
          <td class="inverse">Jet de dégâts</td>
          <td>{{ec.cur.sub.deg ? ec.cur.sub.deg : '-'}}</td>
          <td>{{ec.cur.sub.deg ? ec.cur.sub.deg - ec.cur.sub.pv : '-'}}</td>
          <td>-{{ec.cur.sub.pv}}</td>
          <td class="inverse">Vie perdue</td>
        </tr>
        <tr ng-if="(ec.cur.sub.deg !== null) || (ec.cur.sub.pv !== null)">
          <td colspan=2></td>
          <td class="inverse">Armure</td>
          <td colspan=2></td>
        </tr>
      </tbody>
		</table>
		<br/>
	</div>
</div>
