<div class="container">
  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <img src="images/sciz-logo.png" class="img-responsive" alt=""/>
        </div>
      </div>
      <p class="lead">Besoin d'aide avec SCIZ ?</p>
      <br/>
      <p><small>Consultez le <a href="https://github.com/erk3/sciz/wiki">WIKI</a></small></p>
      <p><small>Posez votre question sur le <a href="http://www.mountyhall.com/Forum/display_topic_threads.php?ForumID=21&TopicID=173262">forum Mountyhall</a></small></p>
      <p><small>Ou venez discuter sur la <a href="https://dystroy.org/miaou/2603">salle Miaou</a> dédiée à SCIZ !</small></p>
    </div>
  </div>

</div>
