<!-- Page content -->
<div class="jumbotron jumbotron-fluid" style="padding: 30px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <img src="images/sciz-logo.png" class="img-responsive" alt=""/>
      </div>
    </div>
    <p class="lead"><small><u>S</u>ystème de <u>C</u>hauve-souris <u>I</u>nterdimensionnel pour <u>Z</u>humain</small></p>
  </div>
</div>

<form class="form-horizontal">
  <div class="form-group" ng-class="{'has-error': isNaN(hc.id)}">
    <label class="col-md-5 control-label">Numéro de trõll</label>
    <div class="col-md-5">
      <input type="text" class="form-control" placeholder="Numéro de trõll" ng-model="hc.id" required>
    </div>
  </div>
  <br/>

  <div class="form-group" ng-class="{'has-error': hc.pwd.length > 0 && hc.pwd.length < 8, 'has-success': hc.pwd.length >= 8 && hc.pwd === hc.pwd2}">
    <label class="col-md-5 control-label">Mot de passe</label>
    <div class="col-md-5">
      <input type="password" class="form-control" placeholder="Mot de passe" ng-model="hc.pwd" tooltips tooltip-template="8 caractères minimum" tooltip-class="tooltip" tooltip-side="right">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': hc.pwd !== hc.pwd2, 'has-success': hc.pwd2.length >= 8 && hc.pwd === hc.pwd2}">
    <label class="col-md-5 control-label">Confirmation</label>
    <div class="col-md-5">
      <input type="password" class="form-control" placeholder="Confirmation" ng-model="hc.pwd2" tooltips tooltip-template="8 caractères minimum" tooltip-class="tooltip" tooltip-side="right">
    </div>
  </div>
  <br/>

  <div class="form-group">
    <label class="col-md-5 control-label">Mot de passe <a href="http://sp.mountyhall.com/hashing.php">restreint</a> MH</label>
    <div class="col-md-5">
      <input type="text" class="form-control" placeholder="Mot de passe MH" ng-model="hc.mh_apikey" required>
    </div>
  </div>

  <br/> 
  <button class="btn btn-primary center-block" type="submit" ng-disabled="!hc.id || !hc.mh_apikey || hc.pwd.length < 8 || hc.pwd !== hc.pwd2" ng-click="hc.signup()">Inscription</button>
  <span class="text-center"><h6><a href="#" ng-click="hc.view = 'login'">Retour</a></h6></span>

  <div ng-if="hc.signupError">
    </br>
    <div uib-alert class="alert" ng-class="{'alert-danger': hc.signupError}">
      {{hc.signupErrorMessage}}
    </div>
  </div>

</form>
