<div class="container-fluid" style="margin: 30px;">
  <div class="row" style="overflow: hidden;">

    <!-- Carousel -->
    <ui-carousel style="margin-bottom: 0px;" slides="tc.slides" slides-to-show="5" slides-to-scroll="1" arrows="true">
      <carousel-item>
        <img ng-src="{{item.blason_url}}" class="img-responsive img-rounded center-block" style="max-height: 60px;" alt=""/>
        <span class="text-center"><h5><a ng-click="item.callback()" href="#">{{item.nom}} ({{item.id}})</a></h5></span>
      </carousel-item>
        <carousel-prev>
          <div class="col-md-11">
            <button class="btn btn-secondary">&#60;</button>
          </div>
        </carousel-prev>
        <carousel-next><button class="btn btn-secondary pull-right">&#62;</button></carousel-next>
    </ui-carousel>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"><hr/></div>
      <div class="col-md-4"></div>
    </div>
    
    <br/>
    <br/>
    
    <div ng-if="!tc.troll.nom"><!--Very first login-->
      <div class="row text-center">
        <img src="images/confused-sciz.png" class="img-responsive img-rounded center-block" style="max-height: 250px;" alt=""/>
        <h3>Pas encore de données pour ce trõll !</h3>
      </div>
    </div>
    <div ng-if="tc.troll.nom"><!--Very first login-->
      <!-- Description -->
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <img ng-src="{{tc.troll.blason_url}}" class="img-responsive img-rounded" style="max-height: 300px" alt="" onError="this.src='images/MyNameIsNobody.gif';">
          <br/>
          <blockquote>
            <p>{{tc.troll.nom}} (<a href="http://games.mountyhall.com/mountyhall/View/PJView.php?ai_IDPJ={{tc.troll.id}}">{{tc.troll.id}}</a>)</p>
            <cite><small>Race : {{tc.troll.race}}</small></cite>
            <cite><small>Niveau : {{tc.troll.niv}} ({{tc.troll.pi}} PI)</small></cite>
            <cite><small>Date de création : {{tc.displayDate(tc.troll.inscription)}}</small></cite>
            <cite><small>Nombre de meurtres : {{tc.troll.nb_kill}}</small></cite>
            <cite><small>Nombre de décès : {{tc.troll.nb_mort}}</small></cite>
            <cite><small>Nombre de mouches : {{tc.troll.nb_mouche}}</small></cite>
          </blockquote>
        </div>

        <div class="col-md-7">
          <uib-accordion close-others="oneAtATime">
            
            <!-- Etat -->
            <div uib-accordion-group class="panel-default" is-open="true">
              <uib-accordion-heading>État</uib-accordion-heading>
              <div class="table-responsive">
                <table class="borderless table table-condensed">
                  <tbody>
                    <tr><td><b>Position</b></td><td>{{tc.troll.tPos}}</td></tr>
                    <tr><td><b>Vie</b></td><td>{{tc.troll.tVie}} / {{tc.troll.tPVMax}}</td></tr>
                    <tr>
                      <td colspan=2>
                        <div class="progress">
                          <div class="progress-bar" ng-class="{'progress-bar-warning': tc.troll.tLifePercent < 66 && tc.troll.tLifePercent > 33, 'progress-bar-success': tc.troll.tLifePercent >= 66, 'progress-bar-danger': tc.troll.tLifePercent <= 33}" role="progressbar" style="width: {{tc.troll.tLifePercent}}%">
                            <span class="pull-left" style="margin-left: 2px">0</span>
                            <span class="pull-right" style="margin-right: 2px">{{tc.troll.tVie}}</span>
                          </div>
                          <span class="pull-right" style="margin-right: 2px">{{tc.troll.base_bonus_pv_max}}</span>
                        </div>

                      </td>
                    </tr>
                    <tr><td><b>Bonus de concentration</b></td><td>{{tc.troll.tConcentration}}</td></tr>
                    <tr><td><b>Fatigue</b></td><td>{{tc.troll.tFatigueStr}}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Tour de Jeu -->
            <div uib-accordion-group class="panel-default" is-open="true">
              <uib-accordion-heading>Tour de jeu</uib-accordion-heading>
              <div class="table-responsive">
                <table class="borderless table table-condensed">
                  <tbody>
                    <tr><td><b>Date Limite d'Action</b></td><td>{{tc.troll.tDLA}}</td></tr>
                    <tr><td><b>Estimation DLA suivante</b></td><td>{{tc.troll.tNextDLA}}</td></tr>
                    <tr><td><b>PA restant(s)</b></td><td>{{tc.troll.tPA}}</td></tr>
                    <tr><td><b>Durée normale du tour</b></td><td>{{tc.troll.bTour}}</td></tr>
                    <tr><td><b>Bonus/Malus sur la durée</b></td><td>{{tc.troll.tBMMTour}}</td></tr>
                    <tr><td><b>Augmentation due aux blessures</b></td><td>{{tc.troll.tMalusTourBlessure}}</td></tr>
                    <tr><td><b>Poids de l'équipement</b></td><td>{{tc.troll.tPoidsTour}}</td></tr>
                    <tr><td><b>Durée du prochain tour</b></td><td>{{tc.troll.bNextTour}}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Caractéristiques -->
            <div uib-accordion-group class="panel-default" is-open="true">
              <uib-accordion-heading>Caractéristiques</uib-accordion-heading>
              <div class="table-responsive">
                <table class="borderless table table-condensed">
                  <tbody>
                    <th><td><b>Base</b></td><td><b>Physique</b></td><td><b>Magique</b></td><td><b>Total</b></td></th>
                    <tr><td><b>Attaque</b></td><td>{{tc.troll.bAtt}}</td><td>{{tc.troll.bAttPhy}}</td><td>{{tc.troll.bAttMag}}</td><td></td></tr>
                    <tr><td><b>Esquive</b></td><td>{{tc.troll.bEsq}}</td><td>{{tc.troll.bEsqPhy}}</td><td>{{tc.troll.bEsqMag}}</td><td></td></tr>
                    <tr><td><b>Dégâts</b></td><td>{{tc.troll.bDeg}}</td><td>{{tc.troll.bDegPhy}}</td><td>{{tc.troll.bDegMag}}</td><td></td></tr>
                    <tr><td><b>Points de Vie</b></td><td>{{tc.troll.bPVMax}}</td><td>{{tc.troll.bPVMaxPhy}}</td><td>{{tc.troll.bPVMaxMag}}</td><td>{{tc.troll.tPVMax}}</td></tr>
                    <tr><td><b>Régénération</b></td><td>{{tc.troll.bReg}}</td><td>{{tc.troll.bRegPhy}}</td><td>{{tc.troll.bRegMag}}</td><td></td></tr>
                    <tr><td><b>Armure</b></td><td>{{tc.troll.bArm}}</td><td>{{tc.troll.bArmPhy}}</td><td>{{tc.troll.bArmMag}}</td><td></td></tr>
                    <tr><td><b>Vue</b></td><td>{{tc.troll.bVue}}</td><td>{{tc.troll.bVuePhy}}</td><td>{{tc.troll.bVueMag}}</td><td>{{tc.troll.tVue}}</td></tr>
                    <tr><td><b>Maitrise Magique</b></td><td>{{tc.troll.bMM}}</td><td>{{tc.troll.bMMPhy}}</td><td>{{tc.troll.bMMMag}}</td><td>{{tc.troll.tMM}}</td></tr>
                    <tr><td><b>Résistance Magique</b></td><td>{{tc.troll.bRM}}</td><td>{{tc.troll.bRMPhy}}</td><td>{{tc.troll.bRMMag}}</td><td>{{tc.troll.tRM}}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Caractéristiques déduites -->
            <div uib-accordion-group class="panel-default" is-open="true">
              <uib-accordion-heading>Caractéristiques déduites</uib-accordion-heading>
              <div class="table-responsive">
                <table class="borderless table table-condensed">
                  <tbody>
                    <tr><td><b>Corpulence</b></td><td>{{tc.troll.tCorp}}</td></tr>
                    <tr><td><b>Agilité</b></td><td>{{tc.troll.tAgi}}</td></tr>
                    <tr><td><b>Réflexe / Stabilité</b></td><td>{{tc.troll.tStab}}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
            
            <!-- Compétences -->
            <div uib-accordion-group class="panel-default" is-open="true">
              <uib-accordion-heading>Compétences</uib-accordion-heading>
              <div class="table-responsive">
                <table class="borderless table table-condensed">
                  <tbody>
                    <tr ng-if="capa.metacapa.id < 0" ng-repeat="capa in tc.troll.capas">
                      <td><b>{{capa.metacapa.nom}}</b></td><td>{{capa.subtype}}</td><td>Niv. {{capa.niv}}</td><td>{{capa.percent}}%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Sorts -->
            <div uib-accordion-group class="panel-default" is-open="true">
              <uib-accordion-heading>Sorts</uib-accordion-heading>
              <div class="table-responsive">
                <table class="borderless table table-condensed">
                  <tbody>
                    <tr ng-if="capa.metacapa.id > 0" ng-repeat="capa in tc.troll.capas">
                      <td><b>{{capa.metacapa.nom}}</b></td><td>{{capa.subtype}}</td><td>Niv. {{capa.niv}}</td><td>{{capa.percent}}%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </uib-accordion>
        </div>

        <div class="col-md-1"></div>
      </div>
      <br/>

    </div>
  </div>
</div>
