<!-- HEADER -->
<div class="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">SCIZ</a>
      </div>
      <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Accueil</a></li>
          <li class="active" ng-hide="!authService.isAuthenticated()"><a href="/events">Événements</a></li>
        </ul>
        <!-- User menu -->
        <ul class="nav navbar-nav pull-right" style="margin-right: 30px;" ng-hide="!authService.isAuthenticated()">
          <li uib-dropdown><a uib-dropdown-toggle>{{user.pseudo}}<b class="caret"></b></a>
            <ul uib-dropdown-menu>
              <li><a href="/settings"><i class="icon-cog"></i>Préférences</a></li>
              <li ng-if="authService.isAuthorized(4);"><a href="/admin"><i class="icon-cog"></i>Administration</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="authService.logout()"><i class="icon-off"></i>Déconnexion</a></li>
            </ul>
          </li>
        </ul><!-- User menu-->
        <!-- Group menu -->
        <ul class="nav navbar-nav pull-right" ng-hide="!authService.isAuthenticated()">
          <li uib-dropdown><a uib-dropdown-toggle>Groupe : {{user.currentAssoc.group.name}}<b class="caret"></b></a>
            <ul uib-dropdown-menu>
              <li ng-repeat='assoc in user.assocs'>
                <a href="" ng-click="authService.changeGroup(assoc.group_id)"><i class="icon-cog"></i>{{assoc.group.name}}</a>
              </li>
            </ul>
          </li>
        </ul><!-- Group menu-->
        <!-- Aide menu -->
        <ul class="nav navbar-nav pull-right" ng-hide="!authService.isAuthenticated()">
          <li class="active"><a href="/help"><i class="icon-cog"></i>Besoin d'aide ?</a></li>
        </ul><!-- Aide menu-->
      </div>
    </div>
  </nav>
</div>
